In [2]:
import pandas as pd
pf = pd.read_csv("food_cleaning.csv")
pf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Ingredient   17 non-null     object
 1   Sweetness    16 non-null     object
 2   Crunchiness  17 non-null     int64
 3   FoodType     17 non-null     object
dtypes: int64(1), object(3)
memory usage: 672.0+ bytes

In [3]:
pf.head()

  Ingredient Sweetness  Crunchiness   FoodType
0      apple        10            9      fruit
1      bacon         1            4    protein
2     banana        10            1      fruit
3     carrot         7           10  vegetable
4     celery       NaN           10  vegetable

In [4]:
pf.tail()

   Ingredient Sweetness  Crunchiness FoodType
12     orange         7            3    fruit
13       pear        10            7    fruit
14     shrimp         2            3  protein
15     shrimp         2            3  protein
16     banana        10            1    fruit

In [11]:
pf.shape

(17, 4)

In [17]:
pf[:17]

    Ingredient Sweetness  Crunchiness   FoodType
0        apple        10            9      fruit
1        bacon         1            4    protein
2       banana        10            1      fruit
3       carrot         7           10  vegetable
4       celery       NaN           10  vegetable
5       cheese         1            1    protein
6     cucumber         2            8  vegetable
7         fish         3            1        123
8        grape         8            5      fruit
9   green bean         3            7  vegetable
10     lettuce        AA            9  vegetable
11        nuts         3            6    protein
12      orange         7            3      fruit
13        pear        10            7      fruit
14      shrimp         2            3    protein
15      shrimp         2            3    protein
16      banana        10            1      fruit

In [18]:
pf.corr()

             Crunchiness
Crunchiness          1.0

In [19]:
pf.iloc[2:8]

  Ingredient Sweetness  Crunchiness   FoodType
2     banana        10            1      fruit
3     carrot         7           10  vegetable
4     celery       NaN           10  vegetable
5     cheese         1            1    protein
6   cucumber         2            8  vegetable
7       fish         3            1        123

In [21]:
pf.describe()

       Crunchiness
count    17.000000
mean      5.176471
std       3.321056
min       1.000000
25%       3.000000
50%       5.000000
75%       8.000000
max      10.000000

In [25]:
pf.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15     True
16     True
dtype: bool

In [27]:
pf.fillna(232)

    Ingredient Sweetness  Crunchiness   FoodType
0        apple        10            9      fruit
1        bacon         1            4    protein
2       banana        10            1      fruit
3       carrot         7           10  vegetable
4       celery       232           10  vegetable
5       cheese         1            1    protein
6     cucumber         2            8  vegetable
7         fish         3            1        123
8        grape         8            5      fruit
9   green bean         3            7  vegetable
10     lettuce        AA            9  vegetable
11        nuts         3            6    protein
12      orange         7            3      fruit
13        pear        10            7      fruit
14      shrimp         2            3    protein
15      shrimp         2            3    protein
16      banana        10            1      fruit

In [32]:
pf.dropna()

    Ingredient Sweetness  Crunchiness   FoodType
0        apple        10            9      fruit
1        bacon         1            4    protein
2       banana        10            1      fruit
3       carrot         7           10  vegetable
5       cheese         1            1    protein
6     cucumber         2            8  vegetable
7         fish         3            1        123
8        grape         8            5      fruit
9   green bean         3            7  vegetable
10     lettuce        AA            9  vegetable
11        nuts         3            6    protein
12      orange         7            3      fruit
13        pear        10            7      fruit
14      shrimp         2            3    protein
15      shrimp         2            3    protein
16      banana        10            1      fruit

In [37]:
pf['Crunchiness']=pf['Crunchiness'].astype('float')
print(pf)

    Ingredient Sweetness  Crunchiness   FoodType  Cruchiness
0        apple        10          9.0      fruit         9.0
1        bacon         1          4.0    protein         4.0
2       banana        10          1.0      fruit         1.0
3       carrot         7         10.0  vegetable        10.0
4       celery       NaN         10.0  vegetable        10.0
5       cheese         1          1.0    protein         1.0
6     cucumber         2          8.0  vegetable         8.0
7         fish         3          1.0        123         1.0
8        grape         8          5.0      fruit         5.0
9   green bean         3          7.0  vegetable         7.0
10     lettuce        AA          9.0  vegetable         9.0
11        nuts         3          6.0    protein         6.0
12      orange         7          3.0      fruit         3.0
13        pear        10          7.0      fruit         7.0
14      shrimp         2          3.0    protein         3.0
15      shrimp         2          3.0    protein         3.0
16      banana        10          1.0      fruit         1.0

In [42]:
pf.drop_duplicates(inplace = True)
print(pf)

    Ingredient Sweetness  Crunchiness   FoodType  Cruchiness
0        apple        10          9.0      fruit         9.0
1        bacon         1          4.0    protein         4.0
2       banana        10          1.0      fruit         1.0
3       carrot         7         10.0  vegetable        10.0
4       celery       NaN         10.0  vegetable        10.0
5       cheese         1          1.0    protein         1.0
6     cucumber         2          8.0  vegetable         8.0
7         fish         3          1.0        123         1.0
8        grape         8          5.0      fruit         5.0
9   green bean         3          7.0  vegetable         7.0
10     lettuce        AA          9.0  vegetable         9.0
11        nuts         3          6.0    protein         6.0
12      orange         7          3.0      fruit         3.0
13        pear        10          7.0      fruit         7.0
14      shrimp         2          3.0    protein         3.0

In [46]:
pf.drop(["Cruchiness"], axis = 1, inplace = True)
print(pf)

    Ingredient Sweetness  Crunchiness   FoodType
0        apple        10          9.0      fruit
1        bacon         1          4.0    protein
2       banana        10          1.0      fruit
3       carrot         7         10.0  vegetable
4       celery       NaN         10.0  vegetable
5       cheese         1          1.0    protein
6     cucumber         2          8.0  vegetable
7         fish         3          1.0        123
8        grape         8          5.0      fruit
9   green bean         3          7.0  vegetable
10     lettuce        AA          9.0  vegetable
11        nuts         3          6.0    protein
12      orange         7          3.0      fruit
13        pear        10          7.0      fruit
14      shrimp         2          3.0    protein